#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 40em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ea39b8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ea39b8);
}

.item {
  padding: 1.5em;
  transition: all .2s ease-in-out;
 
}
.item:hover {
  filter: drop-shadow(0 0 1em #32fbe2);
  border-color: rgb(47, 213, 255);
  transform: scale(1.5); 
}
.item.react:hover {
  filter: drop-shadow(0 0 2em #32fbe2);
}

.button {
  border: 1px outset #32fbe2;
  border-radius: 0;
  background-color:#6f42c1;
  height: 2.5em;
  padding: .5em;
  will-change: filter;
}
.button:hover {
  filter: drop-shadow(0 0 2em #32fbe2);
  border-color: black;
}
.button.react:hover {
  filter: drop-shadow(0 0 2em #32fbe2);
  border-color: black;
}

.card {
  padding: 2em;
}

