#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}

.item {
  padding: 1.5em;
 
}
.item:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}
.item.react:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}

.button {
  background-color:rgb(105, 90, 6);
  height: 2.5em;
  padding: .5em;
  will-change: filter;
}
.button:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}
.button.react:hover {
  filter: drop-shadow(0 0 2em #ffef60aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
